<h1>{{title}}</h1>
<form>
    <div class="form-group">
      <label class="form-label">Primer Numero</label>
      <input 
      type="number" 
      class="form-control" 
      name="numberA"
      placeholder="Ingrese un numero"
      [(ngModel)]="numberA">
    </div>
    <br>
    <div class="form-group">
        <label class="form-label">Operacion</label>
        <input 
        type="number" 
        class="form-control" 
        name="operation"
        placeholder="Signo"
        [(ngModel)]="operation">
      </div>
    <br>
    <div class="form-group">
        <label class="form-label">Segundo Numero</label>
        <input 
        type="number" 
        class="form-control" 
        placeholder="Ingrese un numero"
        name="numberB"
        [(ngModel)]="numberB">
      </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="solve()">Resolver</button>
  </form>
  <br>
<b>Resultado >> </b><p> {{result}}</p>